.container {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.appname {
    font-size: 2.7rem;
    font-weight: 700;
}

.footer {
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: small;
    transform: translateY(-45px);
    width: 100%;
}

@media (max-width: 600px) {
    .footer {
        font-size: xx-small;
    }
}